/* Contenedor principal */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;  
  padding-bottom: 50px; 
  text-align: center;
  min-height: 100vh; 
  box-sizing: border-box;
}

/* Responsive para navbar y footer */
@media (max-width: 600px) {
  .container {
    padding-top: 50px; 
    padding-bottom: 40px; 
  }
}
